{% extends 'base.html' %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}
<div class="container">
    <h1>{{post.title}}</h1>
    <p>{{post.content}}</p>
    <p>By <i>{{post.author.full_name()}}</i> on {{post.created_at}}</p>

    {% if post.tags %}
    <p>
    <b>Tags:</b>
    {% for tag in post.tags %}
    <a href="/tags/{{ tag.id }}" class=" btn btn-sm btn-info">{{ tag.name }}</a>
    {% endfor %}
    </p>
    {% endif %}


    <form>
        <button class="btn btn-outline-primary"
                formmethod="GET"
                formaction="/users/{{ post.user_id }}">Cancel</button>
        <button class="btn btn-primary"
                formmethod="GET"
                formaction="/posts/{{ post.id }}/edit">Edit</button>
        <button class="btn btn-danger"
                formmethod="POST"
                formaction="/posts/{{ post.id }}/delete">Delete</button>
      </form>
</div>



{% endblock %}